{
  "openapi": "3.0.3",
  "info": {
    "title": "PawCoach API",
    "version": "2026-03-18",
    "description": "Auto-generierte API-Spezifikation aus Flask-Routes. Dient als Contract zwischen Backend, Web-Frontend und iOS-App."
  },
  "servers": [
    {
      "url": "https://app.pawcoach.de",
      "description": "Produktion"
    },
    {
      "url": "http://localhost:5050",
      "description": "Entwicklung"
    }
  ],
  "tags": [
    {
      "name": "admin"
    },
    {
      "name": "auth"
    },
    {
      "name": "customer"
    },
    {
      "name": "dogs"
    },
    {
      "name": "forum"
    },
    {
      "name": "messages"
    },
    {
      "name": "platform"
    },
    {
      "name": "public"
    },
    {
      "name": "push"
    },
    {
      "name": "schools"
    },
    {
      "name": "session-location"
    },
    {
      "name": "trainer"
    }
  ],
  "paths": {
    "/api/admin/accounting/jobs": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.list_accounting_jobs",
        "summary": "Api Admin — List Accounting Jobs",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/admin/accounting/jobs/{job_id}/retry": {
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.retry_accounting_job",
        "summary": "Api Admin — Retry Accounting Job",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/accounting/retry-all": {
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.retry_all_accounting_jobs",
        "summary": "Api Admin — Retry All Accounting Jobs",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/accounting/sync-now": {
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.sync_accounting_now",
        "summary": "Api Admin — Sync Accounting Now",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/accounting/test-connection": {
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.test_accounting_connection",
        "summary": "Api Admin — Test Accounting Connection",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/addons": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.list_addons",
        "summary": "Api Admin — List Addons",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/admin/addons/{addon_id}/toggle": {
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.toggle_addon",
        "summary": "Api Admin — Toggle Addon",
        "parameters": [
          {
            "name": "addon_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/addons/{slug}/checkout": {
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.addon_checkout",
        "summary": "Api Admin — Addon Checkout",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/addons/{slug}/deactivate": {
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.addon_deactivate",
        "summary": "Api Admin — Addon Deactivate",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/availability": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.list_availability_slots",
        "summary": "Api Admin — List Availability Slots",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.create_availability_slot",
        "summary": "Api Admin — Create Availability Slot",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/availability/{slot_id}": {
      "put": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.update_availability_slot",
        "summary": "Api Admin — Update Availability Slot",
        "parameters": [
          {
            "name": "slot_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      },
      "delete": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.delete_availability_slot",
        "summary": "Api Admin — Delete Availability Slot",
        "parameters": [
          {
            "name": "slot_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/admin/booking-requests": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.list_booking_requests",
        "summary": "Api Admin — List Booking Requests",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/admin/booking-requests/{req_id}": {
      "put": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.update_booking_request",
        "summary": "Api Admin — Update Booking Request",
        "parameters": [
          {
            "name": "req_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/booking-requests/batch-seen": {
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.batch_booking_requests_seen",
        "summary": "Api Admin — Batch Booking Requests Seen",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/bookings/direct": {
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.create_direct_booking",
        "summary": "Api Admin — Create Direct Booking",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/cancellation-requests": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.list_cancellation_requests",
        "summary": "Api Admin — List Cancellation Requests",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/admin/cancellation-requests/{req_id}/approve": {
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.approve_cancellation_request",
        "summary": "Api Admin — Approve Cancellation Request",
        "parameters": [
          {
            "name": "req_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/cancellation-requests/{req_id}/reject": {
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.reject_cancellation_request",
        "summary": "Api Admin — Reject Cancellation Request",
        "parameters": [
          {
            "name": "req_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/course-categories": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.list_course_categories",
        "summary": "Api Admin — List Course Categories",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.create_course_category",
        "summary": "Api Admin — Create Course Category",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/course-categories/{cat_id}": {
      "put": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.update_course_category",
        "summary": "Api Admin — Update Course Category",
        "parameters": [
          {
            "name": "cat_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      },
      "delete": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.delete_course_category",
        "summary": "Api Admin — Delete Course Category",
        "parameters": [
          {
            "name": "cat_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/admin/course-formats": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.list_course_formats",
        "summary": "Api Admin — List Course Formats",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.create_course_format",
        "summary": "Api Admin — Create Course Format",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/course-formats/{fmt_id}": {
      "put": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.update_course_format",
        "summary": "Api Admin — Update Course Format",
        "parameters": [
          {
            "name": "fmt_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      },
      "delete": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.delete_course_format",
        "summary": "Api Admin — Delete Course Format",
        "parameters": [
          {
            "name": "fmt_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/admin/courses": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.list_courses",
        "summary": "Api Admin — List Courses",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.create_course",
        "summary": "Api Admin — Create Course",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/courses/{course_id}": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.get_course",
        "summary": "Api Admin — Get Course",
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.update_course",
        "summary": "Api Admin — Update Course",
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      },
      "delete": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.delete_course",
        "summary": "Api Admin — Delete Course",
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/admin/courses/{course_id}/duplicate": {
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.duplicate_course",
        "summary": "Api Admin — Duplicate Course",
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/credits": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.list_credits",
        "summary": "Api Admin — List Credits",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.create_credit",
        "summary": "Api Admin — Create Credit",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/credits/{credit_id}": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.get_credit",
        "summary": "Api Admin — Get Credit",
        "parameters": [
          {
            "name": "credit_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.update_credit",
        "summary": "Api Admin — Update Credit",
        "parameters": [
          {
            "name": "credit_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/credits/{credit_id}/extend": {
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.extend_credit",
        "summary": "Api Admin — Extend Credit",
        "parameters": [
          {
            "name": "credit_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/customers/{customer_id}/dogs": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.get_customer_dogs",
        "summary": "Api Admin — Get Customer Dogs",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/admin/dashboard": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.get_dashboard",
        "summary": "Api Admin — Get Dashboard",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/admin/dogs": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.list_dogs",
        "summary": "Api Admin — List Dogs",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.create_dog",
        "summary": "Api Admin — Create Dog",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/dogs/{dog_id}": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.get_dog",
        "summary": "Api Admin — Get Dog",
        "parameters": [
          {
            "name": "dog_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.update_dog",
        "summary": "Api Admin — Update Dog",
        "parameters": [
          {
            "name": "dog_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      },
      "delete": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.delete_dog",
        "summary": "Api Admin — Delete Dog",
        "parameters": [
          {
            "name": "dog_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/admin/dogs/{dog_id}/photo": {
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.upload_dog_photo",
        "summary": "Api Admin — Upload Dog Photo",
        "parameters": [
          {
            "name": "dog_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/einzelstunde-requests": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.list_einzelstunde_requests",
        "summary": "Api Admin — List Einzelstunde Requests",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/admin/einzelstunde-requests/{req_id}/confirm": {
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.confirm_einzelstunde_request",
        "summary": "Api Admin — Confirm Einzelstunde Request",
        "parameters": [
          {
            "name": "req_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/einzelstunde-requests/{req_id}/reject": {
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.reject_einzelstunde_request",
        "summary": "Api Admin — Reject Einzelstunde Request",
        "parameters": [
          {
            "name": "req_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/email-templates": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.list_email_templates",
        "summary": "Api Admin — List Email Templates",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/admin/email-templates/{event_type}": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.get_email_template",
        "summary": "Api Admin — Get Email Template",
        "parameters": [
          {
            "name": "event_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.update_email_template",
        "summary": "Api Admin — Update Email Template",
        "parameters": [
          {
            "name": "event_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/email-templates/{event_type}/reset": {
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.reset_email_template",
        "summary": "Api Admin — Reset Email Template",
        "parameters": [
          {
            "name": "event_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/email-templates/{template_id}": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.get_email_template_by_id",
        "summary": "Api Admin — Get Email Template By Id",
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.update_email_template_by_id",
        "summary": "Api Admin — Update Email Template By Id",
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      },
      "delete": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.delete_email_template_by_id",
        "summary": "Api Admin — Delete Email Template By Id",
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/admin/invoices": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.list_invoices",
        "summary": "Api Admin — List Invoices",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.create_invoice",
        "summary": "Api Admin — Create Invoice",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/invoices/{invoice_id}": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.get_invoice_detail",
        "summary": "Api Admin — Get Invoice Detail",
        "parameters": [
          {
            "name": "invoice_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/admin/invoices/{invoice_id}/pdf": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.get_admin_invoice_pdf",
        "summary": "Api Admin — Get Admin Invoice Pdf",
        "parameters": [
          {
            "name": "invoice_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/admin/locations": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.list_locations",
        "summary": "Api Admin — List Locations",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.create_location",
        "summary": "Api Admin — Create Location",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/locations/{location_id}": {
      "put": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.update_location",
        "summary": "Api Admin — Update Location",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      },
      "delete": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.delete_location",
        "summary": "Api Admin — Delete Location",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/admin/open-group-approvals": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.list_open_group_approvals",
        "summary": "Api Admin — List Open Group Approvals",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.create_open_group_approval",
        "summary": "Api Admin — Create Open Group Approval",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/open-group-approvals/{approval_id}/approve": {
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.approve_open_group_approval",
        "summary": "Api Admin — Approve Open Group Approval",
        "parameters": [
          {
            "name": "approval_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/open-group-approvals/{approval_id}/reject": {
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.reject_open_group_approval",
        "summary": "Api Admin — Reject Open Group Approval",
        "parameters": [
          {
            "name": "approval_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/open-group-approvals/{approval_id}/revoke": {
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.revoke_open_group_approval",
        "summary": "Api Admin — Revoke Open Group Approval",
        "parameters": [
          {
            "name": "approval_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/payment-methods": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.list_payment_methods",
        "summary": "Api Admin — List Payment Methods",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.create_setup_intent",
        "summary": "Api Admin — Create Setup Intent",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/payment-methods/{pm_id}": {
      "delete": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.delete_payment_method",
        "summary": "Api Admin — Delete Payment Method",
        "parameters": [
          {
            "name": "pm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/admin/payment-methods/{pm_id}/default": {
      "put": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.set_default_payment_method",
        "summary": "Api Admin — Set Default Payment Method",
        "parameters": [
          {
            "name": "pm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/pending-registrations": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.list_pending_registrations",
        "summary": "Api Admin — List Pending Registrations",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/admin/pending-registrations/{user_id}/approve": {
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.approve_pending_registration",
        "summary": "Api Admin — Approve Pending Registration",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/pending-registrations/{user_id}/reject": {
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.reject_pending_registration",
        "summary": "Api Admin — Reject Pending Registration",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/reviews": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.list_reviews",
        "summary": "Api Admin — List Reviews",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/admin/reviews/{review_id}/approve": {
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.approve_review",
        "summary": "Api Admin — Approve Review",
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/reviews/{review_id}/reject": {
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.reject_review",
        "summary": "Api Admin — Reject Review",
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/sessions": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.list_sessions",
        "summary": "Api Admin — List Sessions",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.create_session",
        "summary": "Api Admin — Create Session",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/sessions/{session_id}": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.get_session",
        "summary": "Api Admin — Get Session",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.update_session",
        "summary": "Api Admin — Update Session",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      },
      "delete": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.delete_session",
        "summary": "Api Admin — Delete Session",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/admin/sessions/{session_id}/cancel": {
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.cancel_session",
        "summary": "Api Admin — Cancel Session",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/sessions/{session_id}/makeup": {
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.makeup_session",
        "summary": "Api Admin — Makeup Session",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/settings": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.get_settings",
        "summary": "Api Admin — Get Settings",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.update_settings",
        "summary": "Api Admin — Update Settings",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/settings/hero-image": {
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.upload_hero_image",
        "summary": "Api Admin — Upload Hero Image",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      },
      "delete": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.delete_hero_image",
        "summary": "Api Admin — Delete Hero Image",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/admin/settings/join-code-qr": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.join_code_qr",
        "summary": "Api Admin — Join Code Qr",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/admin/settings/regenerate-join-code": {
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.regenerate_join_code",
        "summary": "Api Admin — Regenerate Join Code",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/settings/sender-email": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.get_sender_email",
        "summary": "Api Admin — Get Sender Email",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.request_sender_email_verification",
        "summary": "Api Admin — Request Sender Email Verification",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      },
      "delete": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.remove_sender_email",
        "summary": "Api Admin — Remove Sender Email",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/admin/setup/complete": {
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.setup_complete",
        "summary": "Api Admin — Setup Complete",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/setup/skip": {
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.setup_skip",
        "summary": "Api Admin — Setup Skip",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/setup/status": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.setup_status",
        "summary": "Api Admin — Setup Status",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/admin/stripe-connect/dashboard-url": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.stripe_connect_dashboard_url",
        "summary": "Api Admin — Stripe Connect Dashboard Url",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/admin/stripe-connect/onboard": {
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.stripe_connect_onboard",
        "summary": "Api Admin — Stripe Connect Onboard",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/stripe-connect/refresh-status": {
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.stripe_connect_refresh_status",
        "summary": "Api Admin — Stripe Connect Refresh Status",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/stripe-connect/status": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.stripe_connect_status",
        "summary": "Api Admin — Stripe Connect Status",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/admin/stripe-portal": {
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.create_stripe_portal",
        "summary": "Api Admin — Create Stripe Portal",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/subscription": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.get_subscription",
        "summary": "Api Admin — Get Subscription",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/admin/subscription/cancel": {
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.cancel_subscription",
        "summary": "Api Admin — Cancel Subscription",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/subscription/cancel/undo": {
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.undo_cancel_subscription",
        "summary": "Api Admin — Undo Cancel Subscription",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/subscription/plan": {
      "put": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.update_subscription_plan",
        "summary": "Api Admin — Update Subscription Plan",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/support-access": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.list_support_access",
        "summary": "Api Admin — List Support Access",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/admin/support-access/{req_id}/approve": {
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.approve_support_access",
        "summary": "Api Admin — Approve Support Access",
        "parameters": [
          {
            "name": "req_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/support-access/{req_id}/reject": {
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.reject_support_access",
        "summary": "Api Admin — Reject Support Access",
        "parameters": [
          {
            "name": "req_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/support-access/{req_id}/revoke": {
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.revoke_support_access",
        "summary": "Api Admin — Revoke Support Access",
        "parameters": [
          {
            "name": "req_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/admin/survey-dashboard": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "api_admin.survey_dashboard_api",
        "summary": "Api Admin — Survey Dashboard Api",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
[...]
