{
  "openapi": "3.0.3",
  "info": {
    "title": "PawCoach API",
    "version": "2026-03-18",
    "description": "Auto-generierte API-Spezifikation aus Flask-Routes. Dient als Contract zwischen Backend, Web-Frontend und iOS-App."
  },
  "servers": [
    {
      "url": "https://app.pawcoach.de",
      "description": "Produktion"
    },
    {
      "url": "http://localhost:5050",
      "description": "Entwicklung"
    }
  ],
  "tags": [
    {
      "name": "schools"
    },
    {
      "name": "v1"
    }
  ],
  "paths": {
    "/api/schools/join/{code}": {
      "get": {
        "tags": [
          "schools"
        ],
        "operationId": "_ios_school_join_alias",
        "summary": " Ios School Join Alias",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/v1/admin/accounting/jobs": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.list_accounting_jobs",
        "summary": "Api Admin — List Accounting Jobs",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/v1/admin/accounting/jobs/{job_id}/retry": {
      "post": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.retry_accounting_job",
        "summary": "Api Admin — Retry Accounting Job",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/accounting/retry-all": {
      "post": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.retry_all_accounting_jobs",
        "summary": "Api Admin — Retry All Accounting Jobs",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/accounting/settings": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.get_accounting_settings",
        "summary": "Api Admin — Get Accounting Settings",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.update_accounting_settings",
        "summary": "Api Admin — Update Accounting Settings",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/accounting/sync-now": {
      "post": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.sync_accounting_now",
        "summary": "Api Admin — Sync Accounting Now",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/accounting/test-connection": {
      "post": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.test_accounting_connection",
        "summary": "Api Admin — Test Accounting Connection",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/addons": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.list_addons",
        "summary": "Api Admin — List Addons",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/v1/admin/addons/{addon_id}/toggle": {
      "post": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.toggle_addon",
        "summary": "Api Admin — Toggle Addon",
        "parameters": [
          {
            "name": "addon_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/addons/{slug}/checkout": {
      "post": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.addon_checkout",
        "summary": "Api Admin — Addon Checkout",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/addons/{slug}/deactivate": {
      "post": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.addon_deactivate",
        "summary": "Api Admin — Addon Deactivate",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/availability": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.list_availability_slots",
        "summary": "Api Admin — List Availability Slots",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.create_availability_slot",
        "summary": "Api Admin — Create Availability Slot",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/availability/{slot_id}": {
      "put": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.update_availability_slot",
        "summary": "Api Admin — Update Availability Slot",
        "parameters": [
          {
            "name": "slot_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      },
      "delete": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.delete_availability_slot",
        "summary": "Api Admin — Delete Availability Slot",
        "parameters": [
          {
            "name": "slot_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/v1/admin/booking-requests": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.list_booking_requests",
        "summary": "Api Admin — List Booking Requests",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/v1/admin/booking-requests/{req_id}": {
      "put": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.update_booking_request",
        "summary": "Api Admin — Update Booking Request",
        "parameters": [
          {
            "name": "req_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/booking-requests/batch-seen": {
      "post": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.batch_booking_requests_seen",
        "summary": "Api Admin — Batch Booking Requests Seen",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/bookings/{booking_id}/update-km": {
      "put": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.update_mileage",
        "summary": "Api Admin — Update Mileage",
        "parameters": [
          {
            "name": "booking_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/bookings/direct": {
      "post": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.create_direct_booking",
        "summary": "Api Admin — Create Direct Booking",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/cancellation-requests": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.list_cancellation_requests",
        "summary": "Api Admin — List Cancellation Requests",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/v1/admin/cancellation-requests/{req_id}/approve": {
      "post": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.approve_cancellation_request",
        "summary": "Api Admin — Approve Cancellation Request",
        "parameters": [
          {
            "name": "req_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/cancellation-requests/{req_id}/reject": {
      "post": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.reject_cancellation_request",
        "summary": "Api Admin — Reject Cancellation Request",
        "parameters": [
          {
            "name": "req_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/course-categories": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.list_course_categories",
        "summary": "Api Admin — List Course Categories",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.create_course_category",
        "summary": "Api Admin — Create Course Category",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/course-categories/{cat_id}": {
      "put": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.update_course_category",
        "summary": "Api Admin — Update Course Category",
        "parameters": [
          {
            "name": "cat_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      },
      "delete": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.delete_course_category",
        "summary": "Api Admin — Delete Course Category",
        "parameters": [
          {
            "name": "cat_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/v1/admin/course-formats": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.list_course_formats",
        "summary": "Api Admin — List Course Formats",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.create_course_format",
        "summary": "Api Admin — Create Course Format",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/course-formats/{fmt_id}": {
      "put": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.update_course_format",
        "summary": "Api Admin — Update Course Format",
        "parameters": [
          {
            "name": "fmt_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      },
      "delete": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.delete_course_format",
        "summary": "Api Admin — Delete Course Format",
        "parameters": [
          {
            "name": "fmt_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/v1/admin/courses": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.list_courses",
        "summary": "Api Admin — List Courses",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.create_course",
        "summary": "Api Admin — Create Course",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/courses/{course_id}": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.get_course",
        "summary": "Api Admin — Get Course",
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.update_course",
        "summary": "Api Admin — Update Course",
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      },
      "delete": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.delete_course",
        "summary": "Api Admin — Delete Course",
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/v1/admin/courses/{course_id}/defaults": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.course_defaults",
        "summary": "Api Admin — Course Defaults",
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/v1/admin/courses/{course_id}/duplicate": {
      "post": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.duplicate_course",
        "summary": "Api Admin — Duplicate Course",
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/credits": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.list_credits",
        "summary": "Api Admin — List Credits",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.create_credit",
        "summary": "Api Admin — Create Credit",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/credits/{credit_id}": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.get_credit",
        "summary": "Api Admin — Get Credit",
        "parameters": [
          {
            "name": "credit_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.update_credit",
        "summary": "Api Admin — Update Credit",
        "parameters": [
          {
            "name": "credit_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/credits/{credit_id}/extend": {
      "post": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.extend_credit",
        "summary": "Api Admin — Extend Credit",
        "parameters": [
          {
            "name": "credit_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/customers/{customer_id}/dogs": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.get_customer_dogs",
        "summary": "Api Admin — Get Customer Dogs",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/v1/admin/dashboard": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.get_dashboard",
        "summary": "Api Admin — Get Dashboard",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/v1/admin/discount-codes": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.list_discount_codes",
        "summary": "Api Admin — List Discount Codes",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.create_discount_code",
        "summary": "Api Admin — Create Discount Code",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/discount-codes/{dc_id}": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.get_discount_code",
        "summary": "Api Admin — Get Discount Code",
        "parameters": [
          {
            "name": "dc_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.update_discount_code",
        "summary": "Api Admin — Update Discount Code",
        "parameters": [
          {
            "name": "dc_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/discount-codes/{dc_id}/toggle": {
      "post": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.toggle_discount_code",
        "summary": "Api Admin — Toggle Discount Code",
        "parameters": [
          {
            "name": "dc_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/dogs": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.list_dogs",
        "summary": "Api Admin — List Dogs",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.create_dog",
        "summary": "Api Admin — Create Dog",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/dogs/{dog_id}": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.get_dog",
        "summary": "Api Admin — Get Dog",
        "parameters": [
          {
            "name": "dog_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.update_dog",
        "summary": "Api Admin — Update Dog",
        "parameters": [
          {
            "name": "dog_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      },
      "delete": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.delete_dog",
        "summary": "Api Admin — Delete Dog",
        "parameters": [
          {
            "name": "dog_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/v1/admin/dogs/{dog_id}/comments": {
      "post": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.add_dog_comment",
        "summary": "Api Admin — Add Dog Comment",
        "parameters": [
          {
            "name": "dog_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/dogs/{dog_id}/comments/{comment_id}": {
      "delete": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.delete_dog_comment",
        "summary": "Api Admin — Delete Dog Comment",
        "parameters": [
          {
            "name": "dog_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "comment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/v1/admin/dogs/{dog_id}/photo": {
      "post": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.upload_dog_photo",
        "summary": "Api Admin — Upload Dog Photo",
        "parameters": [
          {
            "name": "dog_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/einzelstunde-requests": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.list_einzelstunde_requests",
        "summary": "Api Admin — List Einzelstunde Requests",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/v1/admin/einzelstunde-requests/{req_id}/confirm": {
      "post": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.confirm_einzelstunde_request",
        "summary": "Api Admin — Confirm Einzelstunde Request",
        "parameters": [
          {
            "name": "req_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/einzelstunde-requests/{req_id}/reject": {
      "post": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.reject_einzelstunde_request",
        "summary": "Api Admin — Reject Einzelstunde Request",
        "parameters": [
          {
            "name": "req_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/email-templates": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.list_email_templates",
        "summary": "Api Admin — List Email Templates",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/v1/admin/email-templates/{event_type}": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.get_email_template",
        "summary": "Api Admin — Get Email Template",
        "parameters": [
          {
            "name": "event_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.update_email_template",
        "summary": "Api Admin — Update Email Template",
        "parameters": [
          {
            "name": "event_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/email-templates/{event_type}/reset": {
      "post": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.reset_email_template",
        "summary": "Api Admin — Reset Email Template",
        "parameters": [
          {
            "name": "event_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/email-templates/{template_id}": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.get_email_template_by_id",
        "summary": "Api Admin — Get Email Template By Id",
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.update_email_template_by_id",
        "summary": "Api Admin — Update Email Template By Id",
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      },
      "delete": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.delete_email_template_by_id",
        "summary": "Api Admin — Delete Email Template By Id",
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/v1/admin/invoices": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.list_invoices",
        "summary": "Api Admin — List Invoices",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.create_invoice",
        "summary": "Api Admin — Create Invoice",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/invoices/{invoice_id}": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.get_invoice_detail",
        "summary": "Api Admin — Get Invoice Detail",
        "parameters": [
          {
            "name": "invoice_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/v1/admin/invoices/{invoice_id}/pdf": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.get_admin_invoice_pdf",
        "summary": "Api Admin — Get Admin Invoice Pdf",
        "parameters": [
          {
            "name": "invoice_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/v1/admin/invoices/preview": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.invoice_preview",
        "summary": "Api Admin — Invoice Preview",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/v1/admin/jobs/daily": {
      "post": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.run_daily_jobs",
        "summary": "Api Admin — Run Daily Jobs",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/locations": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.list_locations",
        "summary": "Api Admin — List Locations",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.create_location",
        "summary": "Api Admin — Create Location",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/locations/{location_id}": {
      "put": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.update_location",
        "summary": "Api Admin — Update Location",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      },
      "delete": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.delete_location",
        "summary": "Api Admin — Delete Location",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/v1/admin/open-group-approvals": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.list_open_group_approvals",
        "summary": "Api Admin — List Open Group Approvals",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.create_open_group_approval",
        "summary": "Api Admin — Create Open Group Approval",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/open-group-approvals/{approval_id}/approve": {
      "post": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.approve_open_group_approval",
        "summary": "Api Admin — Approve Open Group Approval",
        "parameters": [
          {
            "name": "approval_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/open-group-approvals/{approval_id}/reject": {
      "post": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.reject_open_group_approval",
        "summary": "Api Admin — Reject Open Group Approval",
        "parameters": [
          {
            "name": "approval_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/open-group-approvals/{approval_id}/revoke": {
      "post": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.revoke_open_group_approval",
        "summary": "Api Admin — Revoke Open Group Approval",
        "parameters": [
          {
            "name": "approval_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/payment-methods": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.list_payment_methods",
        "summary": "Api Admin — List Payment Methods",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.create_setup_intent",
        "summary": "Api Admin — Create Setup Intent",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/payment-methods/{pm_id}": {
      "delete": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.delete_payment_method",
        "summary": "Api Admin — Delete Payment Method",
        "parameters": [
          {
            "name": "pm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/v1/admin/payment-methods/{pm_id}/default": {
      "put": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.set_default_payment_method",
        "summary": "Api Admin — Set Default Payment Method",
        "parameters": [
          {
            "name": "pm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/payments": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.list_payments",
        "summary": "Api Admin — List Payments",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/v1/admin/pending-registrations": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.list_pending_registrations",
        "summary": "Api Admin — List Pending Registrations",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/v1/admin/pending-registrations/{user_id}/approve": {
      "post": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.approve_pending_registration",
        "summary": "Api Admin — Approve Pending Registration",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/pending-registrations/{user_id}/reject": {
      "post": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.reject_pending_registration",
        "summary": "Api Admin — Reject Pending Registration",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/referral": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.get_referral",
        "summary": "Api Admin — Get Referral",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/v1/admin/referral/generate": {
      "post": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.generate_referral",
        "summary": "Api Admin — Generate Referral",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/reviews": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.list_reviews",
        "summary": "Api Admin — List Reviews",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/v1/admin/reviews/{review_id}/approve": {
      "post": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.approve_review",
        "summary": "Api Admin — Approve Review",
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/reviews/{review_id}/reject": {
      "post": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.reject_review",
        "summary": "Api Admin — Reject Review",
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/sessions": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.list_sessions",
        "summary": "Api Admin — List Sessions",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.create_session",
        "summary": "Api Admin — Create Session",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/sessions/{session_id}": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.get_session",
        "summary": "Api Admin — Get Session",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.update_session",
        "summary": "Api Admin — Update Session",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      },
      "delete": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.delete_session",
        "summary": "Api Admin — Delete Session",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/v1/admin/sessions/{session_id}/cancel": {
      "post": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.cancel_session",
        "summary": "Api Admin — Cancel Session",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/sessions/{session_id}/makeup": {
      "post": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.makeup_session",
        "summary": "Api Admin — Makeup Session",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/sessions/{session_id}/reschedule": {
      "post": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.reschedule_session",
        "summary": "Api Admin — Reschedule Session",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/settings": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.get_settings",
        "summary": "Api Admin — Get Settings",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.update_settings",
        "summary": "Api Admin — Update Settings",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/settings/hero-image": {
      "post": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.upload_hero_image",
        "summary": "Api Admin — Upload Hero Image",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      },
      "delete": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.delete_hero_image",
        "summary": "Api Admin — Delete Hero Image",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/v1/admin/settings/join-code-qr": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.join_code_qr",
        "summary": "Api Admin — Join Code Qr",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      }
    },
    "/api/v1/admin/settings/regenerate-join-code": {
      "post": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.regenerate_join_code",
        "summary": "Api Admin — Regenerate Join Code",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        }
      }
    },
    "/api/v1/admin/settings/sender-email": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.get_sender_email",
        "summary": "Api Admin — Get Sender Email",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
          "403": {
            "description": "Keine Berechtigung"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "sessionAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "v1"
        ],
        "operationId": "api_admin.request_sender_email_verification",
        "summary": "Api Admin — Request Sender Email Verification",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Erfolgreiche Antwort"
          },
          "401": {
            "description": "Nicht authentifiziert"
          },
[...]
